<form action="/recipes" method="post">
  
  <label for="recipe_name1">name:</label>
  <input type="text" id="recipe_name" name="name"></input>
  
  <label for="ingredients1">ingredients:</label>
  <input type="text" id="ingredients1" name="ingredients"></input>
  
  <label for="cook_time1">cook_time:</label>
  <input type="text" id="cook_time1" name="cook_time"></input>
  
  <input type="submit" id="submit">
  
</form>